*{
    margin: 0;
    padding: 0;
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    /* border: 2px solid red; */
    padding: 0 80px;
    height: 90px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header__container__logo{
    display: flex;
    justify-content: space-between;
    width: 260px;
}

.header__container__logo--cl{
    background-color: #2489D3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header__container__name{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__container__nav{
    display: flex;
    /* border: 1px solid #2489D3; */
}

.header__container__nav--item{
    display: flex;
    padding: 20px;
    font-size: 26px;
    color: #292929;
    transition: 300ms;
}


.header__container__user{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid #24d35e; */
    font-size: 22px;
    width: 320px;
}

.header__container__user--login,
.header__container__user--sing-up{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    border: 3px solid #2489d3;
    border-radius: 30px;
    color: #2489d3;
    transition: 300ms;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header__container__user--sing-up{
    color: white;
    background-color: #2489d3;
    transition: 300ms;

}

.header__container__nav--item:hover, 
.header__container__user--sing-up:hover,
.header__container__user--login:hover
{
    cursor: pointer;
    transform: scale(1.15);
    transition: 300ms;
}

.container{
    background-color: #f8f8f8;
}

.container__home_right--img{
    width: 750px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__home{
    display: flex;
    height: 80%;
    width: 90%;
    padding: 40px;
    margin-top: 20px;
}

.container__home__left{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 50px;
}

.container__home__left--title{
    font-size: 40px;
    width: 85%;
}

.container__home__left--sub-title{
    font-size: 22px;
    color: #a5a5a5;
    width: 87%;
    margin-top: 10px;
}
.container__home__left__buttons{
    display: flex;
    margin-top: 30px;
}
.container__home__left__buttons--sing-up{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 300px;
    background-color: #2489d3;
    border: 4px solid #2489d3;
    color: white;
    border-radius: 70px;
    margin-right: 30px;
    transition: 300ms;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.containner__home__left__buttons--know-more{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 300px;
    color: #2489d3;
    border: 4px solid #2489d3;
    border-radius: 70px;
    margin-left: 20px;
    transition: 300ms;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.containner__home__left__buttons--know-more:hover,
.container__home__left__buttons--sing-up:hover{
    transition: 300ms;
    cursor: pointer;
    transform: scale(1.1);
}
.container__home__left__itens{
    display: flex;
    margin-top: 20px;
}
.contianer__home__left__itens--item{
    margin: 2vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}
.contianer__home__left__itens--item--title1{
    color: #F0C932;
    font-size: 28px;
    transition: 300ms;
}
.contianer__home__left__itens--item--title2{
    color: #2489D3;
    font-size: 28px;
    transition: 300ms;

}
.contianer__home__left__itens--item--title3{
    color: #FE753F;
    font-size: 28px;
    transition: 300ms;

}
.contianer__home__left__itens--item--title1:hover,
.contianer__home__left__itens--item--title2:hover,
.contianer__home__left__itens--item--title3:hover{
    transform: scale(1.15);
    transition: 300ms;
}
.contianer__home__left__itens--item--text{
    font-size: 20px;
}
.contact{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.contact__container{
    display: flex;
}
.contact__container__info{
    background-image: url('./../assets/image/image3.png');
    background-repeat: no-repeat;
    background-size:contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 400px;
}
.contact__container__info h2{
    font-size: 26px;
    margin: 20px 0px;
}
.contact__container__info h3{
    font-size: 20px;
    margin-bottom: 20px;
}
.contact__container__infor__itens__item{
    display: flex;
    margin: 40px 15px;
}
.contact__container__infor__itens__item img{
    width: auto;
    height: 20px;
}
.contact__container__infor__itens__item p{
    margin: 0px 10px;
    width: 250px;
}
.contact h1{
    font-size: 50px;
}

/* Responsividade  */

@media screen and (max-width: 1800px) {
    .container__home__right img{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1400px) {
    .header__container{
        padding: 0 20px;
    }
    .container__home__left{
        width: 50vw;
        margin-top: 10px;
        margin-left: 10px;
    }
   .container__home__left--title{
        font-size: 32px;
   } 
   .container__home__left--sub-title{
        font-size: 14px;
   }
   .containner__home__left__buttons--know-more,
   .container__home__left__buttons--sing-up{
        border: 3px solid #2489d3;
        height: 40px;
        width: 200px;
        margin: 10px;
   }
   .container__home__left__itens{
    display: flex;
    margin-top: 20px;
    margin-left: 0px;
    }
   .contianer__home__left__itens--item{
        width: 130px;
        margin: 10px;
        padding: 0px;
   }
    .contianer__home__left__itens--item--title1,
    .contianer__home__left__itens--item--title2,
    .contianer__home__left__itens--item--title3{
        font-size: 20px;
    }
    .contianer__home__left__itens--item--text{
        font-size: 12px;
    }
}

@media screen and (max-width: 1100px){
    .header__container__name{
        font-size: 16px;
    }
    .header__container__nav--item{
        padding: 10px;
        font-size: 22px;

    }
    .header__container__user{
        width: 280px;

    }
    .header__container__user--login,
    .header__container__user--sing-up{
        font-size: 16px;
        width: 120px; 
    }
    .container__home{
        width: 95%;
        padding: 10px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1100px){
    .header__container{
        padding: 5px;
    }
    .header__container__logo{
        width: 170px;
    }
    .header__container__logo--cl{
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
    .header__container__name{
        font-size: 10px;
    }

    .header__container__nav--item{
        font-size: 18px;
    }
    .header__container__user--login,
    .header__container__user--sing-up{
        font-size: 14px;
        width: 80px; 
        height: 25px;
    }
    .header__container__user{
        width: 180px;
    }
    .container__home__left--title{
        font-size: 18px;
    }
    .container__home__left--sub-title{
        font-size: 12px;
    }
    .container__home__left__buttons--sing-up,
    .containner__home__left__buttons--know-more{
        font-size: 12px;
        width: 240px;
        height: 30px;
    }
    .contianer__home__left__itens--item--title1,
    .contianer__home__left__itens--item--title2,
    .contianer__home__left__itens--item--title3{
        font-size: 14px;
    }
    .contianer__home__left__itens--item--text{
        font-size: 10px;
    }
    .contianer__home__left__itens--item{
        width: 140px;
        margin: 5px;
        padding: 0px;
   }

}